@model HoiThao_Core.Models.EditAseanVM


@section Scripts{
    <link href="~/lib/jqueri-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/lib/jqueri-ui/jquery-ui.min.js"></script>

    <link href="~/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <script src="~/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>

    <script>
        $(function () {
            //$(".checkIn, .dangKy").datepicker({
            //    changeMonth: true,
            //    changeYear: true,
            //    dateFormat: "dd/mm/yy",
            //    duration: "slow"

            //});
            $(".checkIn, .dangKy").datetimepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy",
                timeFormat: "hh:mm:ss"
            });
        })
    </script>
}

<h1>Edit Asean</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Asean.K" />
    <div class="row">
        <div class="form-group col-md-3">

            <label asp-for="Asean.Invited" class="control-label"></label>
            <select asp-for="Asean.Invited" class="form-control border-input"
                    asp-items="@(new SelectList(Model.OptionListVM,"Value","Name"))">
                @*<option>Please select one</option>*@
            </select>
            <span asp-validation-for="Asean.Invited" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">

            <label asp-for="Asean.Speaker" class="control-label"></label>
            <select asp-for="Asean.Speaker" class="form-control border-input"
                    asp-items="@(new SelectList(Model.OptionListVM,"Value","Name"))">
                @*<option>Please select one</option>*@
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Id" class="control-label"></label>
            <input asp-for="Asean.Id" class="form-control" />
            <span asp-validation-for="Asean.Id" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Title" class="control-label"></label>
            <input asp-for="Asean.Title" class="form-control" />
            <span asp-validation-for="Asean.Title" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Asean.Firstname" class="control-label"></label>
            <input asp-for="Asean.Firstname" class="form-control" />
            <span asp-validation-for="Asean.Firstname" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Lastname" class="control-label"></label>
            <input asp-for="Asean.Lastname" class="form-control" />
            <span asp-validation-for="Asean.Lastname" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Company" class="control-label"></label>
            <input asp-for="Asean.Company" class="form-control" />
            <span asp-validation-for="Asean.Company" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Email" class="control-label"></label>
            <input asp-for="Asean.Email" class="form-control" />
            <span asp-validation-for="Asean.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Asean.Tel" class="control-label"></label>
            <input asp-for="Asean.Tel" class="form-control" />
            <span asp-validation-for="Asean.Tel" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Country" class="control-label"></label>
            <input asp-for="Asean.Country" class="form-control" />
            <span asp-validation-for="Asean.Country" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Payment" class="control-label"></label>
            <input asp-for="Asean.Payment" class="form-control" />
            <span asp-validation-for="Asean.Payment" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Amount" class="control-label"></label>
            <input asp-for="Asean.Amount" class="form-control" />
            <span asp-validation-for="Asean.Amount" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Asean.Bankfee" class="control-label"></label>
            <input asp-for="Asean.Bankfee" class="form-control" />
            <span asp-validation-for="Asean.Bankfee" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Mop" class="control-label"></label>
            <input asp-for="Asean.Mop" class="form-control" />
            <span asp-validation-for="Asean.Mop" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Cardnumber" class="control-label"></label>
            <input asp-for="Asean.Cardnumber" class="form-control" />
            <span asp-validation-for="Asean.Cardnumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Currency" class="control-label"></label>
            <input asp-for="Asean.Currency" class="form-control" />
            <span asp-validation-for="Asean.Currency" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Asean.Rate" class="control-label"></label>
            <input asp-for="Asean.Rate" class="form-control" />
            <span asp-validation-for="Asean.Rate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Grandtotal" class="control-label"></label>
            <input asp-for="Asean.Grandtotal" class="form-control" />
            <span asp-validation-for="Asean.Grandtotal" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Checkin" class="control-label"></label>
            <input type="text" asp-for="Asean.Checkin" class="form-control checkIn" />
            <span asp-validation-for="Asean.Checkin" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Descript" class="control-label"></label>
            <input asp-for="Asean.Descript" class="form-control" />
            <span asp-validation-for="Asean.Descript" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Asean.Vatbill" class="control-label"></label>
            <input asp-for="Asean.Vatbill" class="form-control" />
            <span asp-validation-for="Asean.Vatbill" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Taxcode" class="control-label"></label>
            <input asp-for="Asean.Taxcode" class="form-control" />
            <span asp-validation-for="Asean.Taxcode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Fax" class="control-label"></label>
            <input asp-for="Asean.Fax" class="form-control" />
            <span asp-validation-for="Asean.Fax" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Dangky" class="control-label"></label>
            <input type="text" asp-for="Asean.Dangky" class="form-control dangKy" />
            <span asp-validation-for="Asean.Dangky" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Asean.Totala" class="control-label"></label>
            <input asp-for="Asean.Totala" class="form-control" />
            <span asp-validation-for="Asean.Totala" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Asean.Totalb" class="control-label"></label>
            <input asp-for="Asean.Totalb" class="form-control" />
            <span asp-validation-for="Asean.Totalb" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <button asp-route-request1="@ViewBag.request1" type="submit"><i class="fas fa-save fa-3x"></i></button>
    </div>
</form>